.main-title {
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  animation: fadeUp 0.8s ease forwards;
}

h1, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.image-fade-in {
  animation: fadeUp 0.8s ease forwards;
  /* Apply the fadeIn animation with a duration of 1 second and ease-in-out timing function */
}

@media screen and (min-width: 768px) {
  .home-subtitle {
      max-width: 800px;
  }
}


.home-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* You can specify font weight if needed */
  font-size: large;
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  from {
      opacity: 0;
      transform: translateY(40px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}