.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--button-border-color);
}

.react-flow__controls-button {
  background-color: var(--background-color);
  color: var(--text-color);
}

.react-flow__controls-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.react-flow__edge-interaction {
  stroke: var(--primary-color);
  stroke-width: 2;
}