.main-title {
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    animation: fadeUp 0.8s ease forwards;
    color: inherit;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: inherit;
}

.image-fade-in {
    animation: fadeUp 0.8s ease forwards;
}

@media screen and (min-width: 768px) {
    .home-subtitle {
        max-width: 800px;
    }
}

.home-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: large;
    animation: fadeUp 0.8s ease forwards;
    color: inherit;
}

.home-subtitle span, 
.home-subtitle span u {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}