.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  p, span {
    font-family: 'Montserrat', sans-serif;
  }
  
  .flex-centralized{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo{
    height: 50px;
  }
  
  body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

.Content {
  padding-inline: 3%;
}

.Topbar {
  background-color: var(--topbar-background-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--topbar-text-color);
  padding-inline: 30px;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}

.desktop-menu .ant-menu-item > a {
  color: var(--text-color);
}

.mobile-menu-button button {
  color: var(--text-color);
}
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Add this CSS to your existing CSS file or style component */
  
  .desktop-menu {
    display: flex;
    align-items: center;
  }
  
  .desktop-menu .ant-menu {
    background-color: var(--background-color)
  }
  
  .desktop-menu .ant-menu-item {
    padding: 0 20px;
  }
  
  .desktop-menu .ant-menu-item:hover, .desktop-menu .ant-menu-item-active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .desktop-menu .ant-menu-item > a {
    color: var(--text-color)
  }
  
  .mobile-menu-button {
    text-align: right;
  }
  
  .mobile-menu-button button {
    color: var(--text-color)
  }
  
  /* Prevent hover background on Sider hamburger trigger */
  .ant-layout-sider .ant-layout-sider-zero-width-trigger:hover::after {
      background: transparent !important;
  }

  .ant-timeline-item-content, .ant-timeline-item-label{
    color: var(--text-color);
  }
  
  .secret-image {
    animation: rotation 4s infinite linear;
    max-height: 70vh;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }